In [4]:
from __future__ import print_function, division

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline

In [7]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [190907, 190914, 190921, 190928, 191005, 191012, 191019, 191026, 191102, 191109, 191116, 191123, 191130]
turnstiles_df = get_data(week_nums)

In [10]:
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]

In [13]:
turnstiles_df["DATE_TIME"] = pd.to_datetime(turnstiles_df.DATE + " " + turnstiles_df.TIME, 
                                            format="%m/%d/%Y %H:%M:%S")

In [16]:
# Get rid of the duplicate entries
turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=False)
turnstiles_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [17]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

          C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0        A002  R051  02-00-00           59 ST 2019-08-31 00:00:00        1
1784129  R138  R293  00-02-05  34 ST-PENN STA 2019-09-11 06:00:00        1
1784111  R138  R293  00-02-05  34 ST-PENN STA 2019-09-08 06:00:00        1
1784112  R138  R293  00-02-05  34 ST-PENN STA 2019-09-08 10:00:00        1
1784113  R138  R293  00-02-05  34 ST-PENN STA 2019-09-08 14:00:00        1

In [18]:
# Drop Exits and Desc Column.  To prevent errors in multiple run of cell, errors on drop is ignored
turnstiles_df = turnstiles_df.drop(["EXITS", "DESC"], axis=1, errors="ignore")

In [19]:
turnstiles_daily = (turnstiles_df
                        .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False)
                        .ENTRIES.first())

In [20]:
turnstiles_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES
0  A002  R051  02-00-00   59 ST  08/31/2019  7183842
1  A002  R051  02-00-00   59 ST  09/01/2019  7184559
2  A002  R051  02-00-00   59 ST  09/02/2019  7185132
3  A002  R051  02-00-00   59 ST  09/03/2019  7186355
4  A002  R051  02-00-00   59 ST  09/04/2019  7187672

In [41]:
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"]
                                                       .apply(lambda grp: grp.shift(1)))

In [42]:
turnstiles_daily.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [43]:
turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]].head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
3531,A011,R080,01-03-00,57 ST-7 AV,09/02/2019,885822365,09/01/2019,885822693.0
3532,A011,R080,01-03-00,57 ST-7 AV,09/03/2019,885821627,09/02/2019,885822365.0
3533,A011,R080,01-03-00,57 ST-7 AV,09/04/2019,885820824,09/03/2019,885821627.0
3534,A011,R080,01-03-00,57 ST-7 AV,09/05/2019,885819992,09/04/2019,885820824.0
3535,A011,R080,01-03-00,57 ST-7 AV,09/06/2019,885819037,09/05/2019,885819992.0

In [44]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
_ = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

12 6170034.0
263 3846402.0
29 3367836.0
26 1083967.0
864 2152170.0
111 1599317.0
460501 6804909.0
73 6697765.0
875479599 775219651.0
590597 9156558.0
88 2728627.0
94 4283110.0
1041 2210879.0
98 1478936.0
116 6197971.0
66 1121336148.0
82 2025847506.0
1451 4711879.0
973 6844908.0
126 6053205.0
196612 50345125.0
589824 50331648.0
5421 10392294.0
2157 6026406.0
458752 117440512.0
107 1068192.0
2567 152966689.0
2204 19783118.0
458752 117440512.0
24 2781046.0
3728 1842366.0
2069 4443445.0
178 6625781.0
4982302 877264.0
1421 2254274.0
721441460 2880424.0
516 3275592.0
610 2460400.0
14 4584512.0
26 153536031.0
18 118621565.0
67122955 103584.0
218 67122955.0
458846 2297063.0
672 5491989.0
235398290 9934.0
83886083 117440614.0
10 5679392.0
1145 4459356.0
6817688 3603909.0
401 3071806.0
123785342 117604971.0
636 2209128.0
31260681 48404.0
1507856 4609.0
2053 3512072.0
483 4777140.0
102459350 210849.0
248 3782823.0
248 9852706.0
1 134218317.0
2319 22554564.0
190 1449873.0
3480 5391681.0
845 17297548.0
2528 2885384.0
15753262 3953152.0
3953156 15763173.0
39242377 15747786.0
15764523 39256787.0
569320809 779039.0
850 703406488.0
1711290743 6741160.0
10281 5196826.0
5198042 1005308.0
352351910 1425732.0
722 2242009.0
1840 9112633.0
33601225 187583.0
16730515 453031795.0
1761654061 6924162.0
1560341960 6151899.0
285275114 1162483.0
8 3319600.0
268448218 1063972.0
2046772953 8817079.0
139432168 1325952449.0
5 2013355755.0
811 3673993.0
1534 991539550.0
7035 5634647.0
1142 3303158.0
1117457 3429648.0
891 12274152.0

In [47]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        # Maybe counter is reversed?
        counter = -counter
    if counter > max_counter:
        # Maybe counter was reset to 0? 
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
    if counter > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
# It'd probably be a good idea to use a number even significantly smaller than 1 million as the limit!
turnstiles_daily["DAILY_ENTRIES"] = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

12 6170034.0
263 3846402.0
29 3367836.0
26 1083967.0
864 2152170.0
111 1599317.0
460501 6804909.0
73 6697765.0
875479599 775219651.0
590597 9156558.0
88 2728627.0
94 4283110.0
1041 2210879.0
98 1478936.0
116 6197971.0
66 1121336148.0
82 2025847506.0
1451 4711879.0
973 6844908.0
126 6053205.0
196612 50345125.0
589824 50331648.0
5421 10392294.0
2157 6026406.0
458752 117440512.0
107 1068192.0
2567 152966689.0
2204 19783118.0
458752 117440512.0
24 2781046.0
3728 1842366.0
2069 4443445.0
178 6625781.0
4982302 877264.0
1421 2254274.0
721441460 2880424.0
516 3275592.0
610 2460400.0
14 4584512.0
26 153536031.0
18 118621565.0
67122955 103584.0
218 67122955.0
458846 2297063.0
672 5491989.0
235398290 9934.0
83886083 117440614.0
10 5679392.0
1145 4459356.0
6817688 3603909.0
401 3071806.0
123785342 117604971.0
636 2209128.0
31260681 48404.0
1507856 4609.0
2053 3512072.0
483 4777140.0
102459350 210849.0
248 3782823.0
248 9852706.0
1 134218317.0
2319 22554564.0
190 1449873.0
3480 5391681.0
845 17297548.0
2528 2885384.0
15753262 3953152.0
3953156 15763173.0
39242377 15747786.0
15764523 39256787.0
569320809 779039.0
850 703406488.0
1711290743 6741160.0
10281 5196826.0
5198042 1005308.0
352351910 1425732.0
722 2242009.0
1840 9112633.0
33601225 187583.0
16730515 453031795.0
1761654061 6924162.0
1560341960 6151899.0
285275114 1162483.0
8 3319600.0
268448218 1063972.0
2046772953 8817079.0
139432168 1325952449.0
5 2013355755.0
811 3673993.0
1534 991539550.0
7035 5634647.0
1142 3303158.0
1117457 3429648.0
891 12274152.0

In [48]:
turnstiles_daily

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
2,A002,R051,02-00-00,59 ST,09/02/2019,7185132,09/01/2019,7184559.0,573.0
3,A002,R051,02-00-00,59 ST,09/03/2019,7186355,09/02/2019,7185132.0,1223.0
4,A002,R051,02-00-00,59 ST,09/04/2019,7187672,09/03/2019,7186355.0,1317.0
5,A002,R051,02-00-00,59 ST,09/05/2019,7189025,09/04/2019,7187672.0,1353.0
6,A002,R051,02-00-00,59 ST,09/06/2019,7190331,09/05/2019,7189025.0,1306.0
7,A002,R051,02-00-00,59 ST,09/07/2019,7191261,09/06/2019,7190331.0,930.0
8,A002,R051,02-00-00,59 ST,09/08/2019,7191906,09/07/2019,7191261.0,645.0
9,A002,R051,02-00-00,59 ST,09/09/2019,7193205,09/08/2019,7191906.0,1299.0
10,A002,R051,02-00-00,59 ST,09/10/2019,7194531,09/09/2019,7193205.0,1326.0
11,A002,R051,02-00-00,59 ST,09/11/2019,7195854,09/10/2019,7194531.0,1323.0
12,A002,R051,02-00-00,59 ST,09/12/2019,7197227,09/11/2019,7195854.0,1373.0
13,A002,R051,02-00-00,59 ST,09/13/2019,7198618,09/12/2019,7197227.0,1391.0
14,A002,R051,02-00-00,59 ST,09/14/2019,7199405,09/13/2019,7198618.0,787.0
15,A002,R051,02-00-00,59 ST,09/15/2019,7200012,09/14/2019,7199405.0,607.0
16,A002,R051,02-00-00,59 ST,09/16/2019,7201201,09/15/2019,7200012.0,1189.0
17,A002,R051,02-00-00,59 ST,09/17/2019,7202574,09/16/2019,7201201.0,1373.0
18,A002,R051,02-00-00,59 ST,09/18/2019,7203963,09/17/2019,7202574.0,1389.0
19,A002,R051,02-00-00,59 ST,09/19/2019,7205355,09/18/2019,7203963.0,1392.0
20,A002,R051,02-00-00,59 ST,09/20/2019,7206789,09/19/2019,7205355.0,1434.0
21,A002,R051,02-00-00,59 ST,09/21/2019,7207572,09/20/2019,7206789.0,783.0
22,A002,R051,02-00-00,59 ST,09/22/2019,7208199,09/21/2019,7207572.0,627.0
23,A002,R051,02-00-00,59 ST,09/23/2019,7209538,09/22/2019,7208199.0,1339.0
24,A002,R051,02-00-00,59 ST,09/24/2019,7211023,09/23/2019,7209538.0,1485.0
25,A002,R051,02-00-00,59 ST,09/25/2019,7212534,09/24/2019,7211023.0,1511.0
26,A002,R051,02-00-00,59 ST,09/26/2019,7214026,09/25/2019,7212534.0,1492.0
27,A002,R051,02-00-00,59 ST,09/27/2019,7215531,09/26/2019,7214026.0,1505.0
28,A002,R051,02-00-00,59 ST,09/28/2019,7216446,09/27/2019,7215531.0,915.0
29,A002,R051,02-00-00,59 ST,09/29/2019,7217161,09/28/2019,7216446.0,715.0
30,A002,R051,02-00-00,59 ST,09/30/2019,7218323,09/29/2019,7217161.0,1162.0
31,A002,R051,02-00-00,59 ST,10/01/2019,7219638,09/30/2019,7218323.0,1315.0
...,...,...,...,...,...,...,...,...,...
444761,TRAM2,R469,00-05-01,RIT-ROOSEVELT,10/31/2019,5554,10/30/2019,5554.0,0.0
444762,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/01/2019,5554,10/31/2019,5554.0,0.0
444763,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/02/2019,5554,11/01/2019,5554.0,0.0
444764,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/03/2019,5554,11/02/2019,5554.0,0.0
444765,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/04/2019,5554,11/03/2019,5554.0,0.0
444766,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/05/2019,5554,11/04/2019,5554.0,0.0
444767,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/06/2019,5554,11/05/2019,5554.0,0.0
444768,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/07/2019,5554,11/06/2019,5554.0,0.0
444769,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/08/2019,5554,11/07/2019,5554.0,0.0
444770,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/09/2019,5554,11/08/2019,5554.0,0.0
444771,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/10/2019,5554,11/09/2019,5554.0,0.0
444772,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/11/2019,5554,11/10/2019,5554.0,0.0
444773,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/12/2019,5554,11/11/2019,5554.0,0.0
444774,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/13/2019,5554,11/12/2019,5554.0,0.0
444775,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/14/2019,5554,11/13/2019,5554.0,0.0
444776,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/15/2019,5554,11/14/2019,5554.0,0.0
444777,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/16/2019,5554,11/15/2019,5554.0,0.0
444778,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/17/2019,5554,11/16/2019,5554.0,0.0
444779,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/18/2019,5554,11/17/2019,5554.0,0.0
444780,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/19/2019,5554,11/18/2019,5554.0,0.0
444781,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/20/2019,5554,11/19/2019,5554.0,0.0
444782,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/21/2019,5554,11/20/2019,5554.0,0.0
444783,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/22/2019,5554,11/21/2019,5554.0,0.0
444784,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/23/2019,5554,11/22/2019,5554.0,0.0
444785,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/24/2019,5554,11/23/2019,5554.0,0.0
444786,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/25/2019,5554,11/24/2019,5554.0,0.0
444787,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/26/2019,5554,11/25/2019,5554.0,0.0
444788,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/27/2019,5554,11/26/2019,5554.0,0.0
444789,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/28/2019,5554,11/27/2019,5554.0,0.0
444790,TRAM2,R469,00-05-01,RIT-ROOSEVELT,11/29/2019,5554,11/28/2019,5554.0,0.0

In [74]:
turnstiles_total = (turnstiles_daily
                        .groupby(["C/A", "UNIT", "STATION"],as_index=False)
                        .DAILY_ENTRIES.sum()).sort_values("DAILY_ENTRIES", ascending = False)

In [76]:
station_total = (turnstiles_daily
                        .groupby(["STATION"],as_index=False)
                        .DAILY_ENTRIES.sum()).sort_values("DAILY_ENTRIES", ascending = False)

In [77]:
turnstiles_total.head()

       C/A  UNIT          STATION  DAILY_ENTRIES
458  PTH22  R540     PATH NEW WTC      6863363.0
573  R238A  R046  GRD CNTRL-42 ST      4399785.0
213   N051  R084   59 ST COLUMBUS      3677068.0
496   R138  R293   34 ST-PENN STA      3379112.0
697   R533  R055    FLUSHING-MAIN      3207475.0

In [78]:
station_total

             STATION  DAILY_ENTRIES
61    34 ST-PENN STA     13198077.0
232  GRD CNTRL-42 ST     12410259.0
46             23 ST     10155744.0
59   34 ST-HERALD SQ      9917201.0
68   42 ST-PORT AUTH      8277121.0
14    14 ST-UNION SQ      8115834.0
225        FULTON ST      8080508.0
352   TIMES SQ-42 ST      8058342.0
86    59 ST COLUMBUS      7361062.0
9             125 ST      6938673.0
110            86 ST      6898378.0
314     PATH NEW WTC      6863363.0
172         CANAL ST      6648717.0
72    47-50 STS ROCK      5604813.0
179      CHAMBERS ST      5532941.0
13             14 ST      5419020.0
85             59 ST      5234277.0
115            96 ST      5084539.0
362   W 4 ST-WASH SQ      4424785.0
216    FLUSHING-MAIN      4412118.0
97             72 ST      4346192.0
78             50 ST      4056304.0
256  JKSN HT-ROOSVLT      4025200.0
124   ATL AV-BARCLAY      3675969.0
52             28 ST      3669497.0
365          WALL ST      3586432.0
253  JAY ST-METROTEC      3543387.0
67   42 ST-BRYANT PK      3408591.0
6             116 ST      3352224.0
182        CHURCH AV      3171291.0
..               ...            ...
283      MORRIS PARK       184354.0
259        JUNIUS ST       179652.0
8             121 ST       175670.0
145      BEACH 67 ST       175262.0
118       ALABAMA AV       168564.0
127         AVENUE I       159593.0
144      BEACH 60 ST       156407.0
279    MIDDLETOWN RD       154772.0
82             55 ST       154251.0
171      BUSHWICK AV       153135.0
43            215 ST       153098.0
369      WHITLOCK AV       152207.0
121  AQUEDUCT RACETR       148912.0
41             21 ST       141204.0
141      BEACH 25 ST       131715.0
125      ATLANTIC AV       124183.0
291       NEPTUNE AV       115966.0
143      BEACH 44 ST       115282.0
197    CYPRESS HILLS       115175.0
146      BEACH 90 ST       103434.0
202  E 143/ST MARY'S        88447.0
142      BEACH 36 ST        75159.0
120  AQUEDUCT N.COND        70793.0
332  ROCKAWAY PARK B        54402.0
299     NEWARK HM HE        51587.0
353    TOMPKINSVILLE        49521.0
147      BEACH 98 ST        36068.0
161    BROAD CHANNEL        24048.0
140     BEACH 105 ST        18373.0
308    ORCHARD BEACH            0.0

[378 rows x 2 columns]