In [4]:
from __future__ import print_function, division

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline

In [6]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [190907, 190914, 190921, 190928, 191005, 191012, 191019, 191026, 191102, 191109, 191116, 191123, 191130]
turnstiles_df = get_data(week_nums)

In [7]:
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]

In [8]:
turnstiles_df["DATE_TIME"] = pd.to_datetime(turnstiles_df.DATE + " " + turnstiles_df.TIME, 
                                            format="%m/%d/%Y %H:%M:%S")

In [9]:
# Get rid of the duplicate entries
turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=False)
turnstiles_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [10]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

          C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0        A002  R051  02-00-00           59 ST 2019-08-31 00:00:00        1
1784129  R138  R293  00-02-05  34 ST-PENN STA 2019-09-11 06:00:00        1
1784111  R138  R293  00-02-05  34 ST-PENN STA 2019-09-08 06:00:00        1
1784112  R138  R293  00-02-05  34 ST-PENN STA 2019-09-08 10:00:00        1
1784113  R138  R293  00-02-05  34 ST-PENN STA 2019-09-08 14:00:00        1

In [11]:
# Drop Exits and Desc Column.  To prevent errors in multiple run of cell, errors on drop is ignored
turnstiles_df = turnstiles_df.drop(["EXITS", "DESC"], axis=1, errors="ignore")

In [12]:
turnstiles_daily = (turnstiles_df
                        .groupby(["C/A", "UNIT", "SCP", "STATION", "LINENAME", "DATE"],as_index=False)
                        .ENTRIES.first())

In [13]:
turnstiles_daily.head()

    C/A  UNIT       SCP STATION LINENAME        DATE  ENTRIES
0  A002  R051  02-00-00   59 ST  NQR456W  08/31/2019  7183842
1  A002  R051  02-00-00   59 ST  NQR456W  09/01/2019  7184559
2  A002  R051  02-00-00   59 ST  NQR456W  09/02/2019  7185132
3  A002  R051  02-00-00   59 ST  NQR456W  09/03/2019  7186355
4  A002  R051  02-00-00   59 ST  NQR456W  09/04/2019  7187672

In [14]:
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION", "LINENAME"])["DATE", "ENTRIES"]
                                                       .apply(lambda grp: grp.shift(1)))

C:\Users\tskth\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [15]:
turnstiles_daily.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [16]:
turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]].head()

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
3530,A011,R080,01-03-00,57 ST-7 AV,NQRW,09/01/2019,885822693,08/31/2019,885823072.0
3531,A011,R080,01-03-00,57 ST-7 AV,NQRW,09/02/2019,885822365,09/01/2019,885822693.0
3532,A011,R080,01-03-00,57 ST-7 AV,NQRW,09/03/2019,885821627,09/02/2019,885822365.0
3533,A011,R080,01-03-00,57 ST-7 AV,NQRW,09/04/2019,885820824,09/03/2019,885821627.0
3534,A011,R080,01-03-00,57 ST-7 AV,NQRW,09/05/2019,885819992,09/04/2019,885820824.0

In [17]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
_ = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

12 6170034.0
263 3846402.0
29 3367836.0
26 1083967.0
864 2152170.0
111 1599317.0
460501 6804909.0
73 6697765.0
875479599 775219651.0
590597 9156558.0
88 2728627.0
94 4283110.0
1041 2210879.0
98 1478936.0
116 6197971.0
66 1121336148.0
82 2025847506.0
1451 4711879.0
973 6844908.0
126 6053205.0
196612 50345125.0
589824 50331648.0
5421 10392294.0
2157 6026406.0
458752 117440512.0
107 1068192.0
2567 152966689.0
2204 19783118.0
458752 117440512.0
24 2781046.0
3728 1842366.0
2069 4443445.0
178 6625781.0
4982302 877264.0
1421 2254274.0
721441460 2880424.0
516 3275592.0
610 2460400.0
14 4584512.0
26 153536031.0
18 118621565.0
67122955 103584.0
218 67122955.0
458846 2297063.0
672 5491989.0
235398290 9934.0
83886083 117440614.0
10 5679392.0
1145 4459356.0
6817688 3603909.0
401 3071806.0
123785342 117604971.0
636 2209128.0
31260681 48404.0
1507856 4609.0
2053 3512072.0
483 4777140.0
102459350 210849.0
248 3782823.0
248 9852706.0
1 134218317.0
2319 22554564.0
190 1449873.0
3480 5391681.0
845 17297548.0
2528 2885384.0
15753262 3953152.0
3953156 15763173.0
39242377 15747786.0
15764523 39256787.0
569320809 779039.0
850 703406488.0
1711290743 6741160.0
10281 5196826.0
5198042 1005308.0
352351910 1425732.0
722 2242009.0
1840 9112633.0
33601225 187583.0
16730515 453031795.0
1761654061 6924162.0
1560341960 6151899.0
285275114 1162483.0
8 3319600.0
268448218 1063972.0
2046772953 8817079.0
139432168 1325952449.0
5 2013355755.0
811 3673993.0
1534 991539550.0
7035 5634647.0
1142 3303158.0
1117457 3429648.0
891 12274152.0

In [18]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        # Maybe counter is reversed?
        counter = -counter
    if counter > max_counter:
        # Maybe counter was reset to 0? 
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
    if counter > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
# It'd probably be a good idea to use a number even significantly smaller than 1 million as the limit!
turnstiles_daily["DAILY_ENTRIES"] = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

12 6170034.0
263 3846402.0
29 3367836.0
26 1083967.0
864 2152170.0
111 1599317.0
460501 6804909.0
73 6697765.0
875479599 775219651.0
590597 9156558.0
88 2728627.0
94 4283110.0
1041 2210879.0
98 1478936.0
116 6197971.0
66 1121336148.0
82 2025847506.0
1451 4711879.0
973 6844908.0
126 6053205.0
196612 50345125.0
589824 50331648.0
5421 10392294.0
2157 6026406.0
458752 117440512.0
107 1068192.0
2567 152966689.0
2204 19783118.0
458752 117440512.0
24 2781046.0
3728 1842366.0
2069 4443445.0
178 6625781.0
4982302 877264.0
1421 2254274.0
721441460 2880424.0
516 3275592.0
610 2460400.0
14 4584512.0
26 153536031.0
18 118621565.0
67122955 103584.0
218 67122955.0
458846 2297063.0
672 5491989.0
235398290 9934.0
83886083 117440614.0
10 5679392.0
1145 4459356.0
6817688 3603909.0
401 3071806.0
123785342 117604971.0
636 2209128.0
31260681 48404.0
1507856 4609.0
2053 3512072.0
483 4777140.0
102459350 210849.0
248 3782823.0
248 9852706.0
1 134218317.0
2319 22554564.0
190 1449873.0
3480 5391681.0
845 17297548.0
2528 2885384.0
15753262 3953152.0
3953156 15763173.0
39242377 15747786.0
15764523 39256787.0
569320809 779039.0
850 703406488.0
1711290743 6741160.0
10281 5196826.0
5198042 1005308.0
352351910 1425732.0
722 2242009.0
1840 9112633.0
33601225 187583.0
16730515 453031795.0
1761654061 6924162.0
1560341960 6151899.0
285275114 1162483.0
8 3319600.0
268448218 1063972.0
2046772953 8817079.0
139432168 1325952449.0
5 2013355755.0
811 3673993.0
1534 991539550.0
7035 5634647.0
1142 3303158.0
1117457 3429648.0
891 12274152.0

In [19]:
turnstiles_daily

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
1,A002,R051,02-00-00,59 ST,NQR456W,09/01/2019,7184559,08/31/2019,7183842.0,717.0
2,A002,R051,02-00-00,59 ST,NQR456W,09/02/2019,7185132,09/01/2019,7184559.0,573.0
3,A002,R051,02-00-00,59 ST,NQR456W,09/03/2019,7186355,09/02/2019,7185132.0,1223.0
4,A002,R051,02-00-00,59 ST,NQR456W,09/04/2019,7187672,09/03/2019,7186355.0,1317.0
5,A002,R051,02-00-00,59 ST,NQR456W,09/05/2019,7189025,09/04/2019,7187672.0,1353.0
...,...,...,...,...,...,...,...,...,...,...
444786,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,11/25/2019,5554,11/24/2019,5554.0,0.0
444787,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,11/26/2019,5554,11/25/2019,5554.0,0.0
444788,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,11/27/2019,5554,11/26/2019,5554.0,0.0
444789,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,11/28/2019,5554,11/27/2019,5554.0,0.0
444790,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,11/29/2019,5554,11/28/2019,5554.0,0.0

In [20]:
stations_total = (turnstiles_daily
                        .groupby(["STATION","LINENAME"],as_index=False).agg("sum")).sort_values("DAILY_ENTRIES", ascending = False).reset_index()
                        #.DAILY_ENTRIES.sum())

In [21]:
stations_total

,index,STATION,LINENAME,ENTRIES,PREV_ENTRIES,DAILY_ENTRIES
0,311,GRD CNTRL-42 ST,4567S,226865326108,2.268583e+11,12458229.0
1,89,34 ST-HERALD SQ,BDFMNQRW,416207405402,4.161986e+11,9979861.0
2,102,42 ST-PORT AUTH,ACENQRS1237W,667469074088,6.674638e+11,7175885.0
3,403,PATH NEW WTC,1,414635697,4.136185e+08,6878013.0
4,93,34 ST-PENN STA,ACE,150330038840,1.503246e+11,6548407.0
...,...,...,...,...,...,...
472,449,TOMPKINSVILLE,1,216784555,2.167347e+08,49882.0
473,203,BEACH 98 ST,AS,452779551,4.527428e+08,36755.0
474,220,BROAD CHANNEL,AS,130029958,1.300058e+08,24181.0
475,196,BEACH 105 ST,AS,10704291634,1.070427e+10,18738.0
476,396,ORCHARD BEACH,6,11383666,1.138358e+07,89.0

In [63]:
stations_zips = pd.read_csv("sub_st_zip.csv")

In [64]:
stations_zips.rename(columns={'Stop Name':'STATION', "Zip Code":"ZipCode"}, inplace = True)

In [65]:
stations_zips.STATION = stations_zips.STATION.str.upper()

In [66]:
manh_stations=stations_zips.STATION.to_list()

In [67]:
len(manh_stations)

153

In [68]:
manh_stations_total = stations_total[stations_total["STATION"].isin(manh_stations)]

In [69]:
manh_stations_total

     index    STATION  LINENAME       ENTRIES  PREV_ENTRIES  DAILY_ENTRIES
8      301  FULTON ST  2345ACJZ  141641492745  1.416370e+11      5303970.0
14     234   CANAL ST   JNQRZ6W  275657025992  2.756537e+11      3935409.0
15     138      72 ST       123   68243510585  6.824090e+10      3607329.0
16     156      86 ST       456  119545892760  1.195424e+11      3518649.0
18     121      59 ST   456NQRW  151409177842  1.521094e+11      3328368.0
..     ...        ...       ...           ...           ...            ...
406     30     145 ST         3    1333200594  1.332932e+09       268241.0
414    114      50 ST         D    1145424833  1.145171e+09       253611.0
425     36     155 ST         C    1479960900  1.479730e+09       230640.0
438    158      86 ST         N     451371746  4.511787e+08       193073.0
453     67     215 ST         1     703569282  7.034153e+08       153939.0

[107 rows x 6 columns]

In [70]:
zip_dict  = pd.Series(stations_zips.ZipCode.values,index=stations_zips.STATION).to_dict()

In [71]:
manh_stations_total["ZipCode"] = manh_stations_total["STATION"].map(zip_dict)

C:\Users\tskth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [72]:
manh_stations_total

,index,STATION,LINENAME,ENTRIES,PREV_ENTRIES,DAILY_ENTRIES,ZipCode
8,301,FULTON ST,2345ACJZ,141641492745,1.416370e+11,5303970.0,10038
14,234,CANAL ST,JNQRZ6W,275657025992,2.756537e+11,3935409.0,10013
15,138,72 ST,123,68243510585,6.824090e+10,3607329.0,10021
16,156,86 ST,456,119545892760,1.195424e+11,3518649.0,10028
18,121,59 ST,456NQRW,151409177842,1.521094e+11,3328368.0,10022
...,...,...,...,...,...,...,...
406,30,145 ST,3,1333200594,1.332932e+09,268241.0,10031
414,114,50 ST,D,1145424833,1.145171e+09,253611.0,10019
425,36,155 ST,C,1479960900,1.479730e+09,230640.0,10018
438,158,86 ST,N,451371746,4.511787e+08,193073.0,10028
453,67,215 ST,1,703569282,7.034153e+08,153939.0,10018

In [30]:
stations_elev = pd.read_csv("Elevator_yes_no.csv")

In [73]:
manh_stations_total["STATIONLINE"] = manh_stations_total.STATION+manh_stations_total.LINENAME

C:\Users\tskth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [77]:
pd.set_option('display.max_rows', 200)

In [80]:
manh_stations_total.sort_values("STATIONLINE")

,index,STATION,LINENAME,ENTRIES,PREV_ENTRIES,DAILY_ENTRIES,ZipCode,STATIONLINE
117,0,1 AV,L,108210509971,1.082092e+11,1298171.0,10009,1 AVL
171,1,103 ST,1,5901511168,5.900530e+09,981372.0,10025,103 ST1
160,2,103 ST,6,4361693836,4.360641e+09,1052643.0,10025,103 ST6
347,3,103 ST,BC,2747657700,2.747271e+09,386482.0,10025,103 STBC
192,7,110 ST,6,3525627318,3.524766e+09,861425.0,10029,110 ST6
127,11,116 ST,23,2694787170,2.694275e+09,1223427.0,10035,116 ST23
82,12,116 ST,6,2748222208,2.747402e+09,1545564.0,10035,116 ST6
252,13,116 ST,BC,32702585905,3.270199e+10,600657.0,10035,116 STBC
237,16,125 ST,1,59404208111,5.940356e+10,648191.0,10027,125 ST1
129,17,125 ST,23,226436618298,2.264357e+11,1217065.0,10027,125 ST23
27,18,125 ST,456,273655268585,2.736526e+11,2699605.0,10027,125 ST456
34,19,125 ST,ACBD,45346701364,4.535040e+10,2422734.0,10027,125 STACBD
147,20,135 ST,23,4436454594,4.435344e+09,1111082.0,10030,135 ST23
229,21,135 ST,BC,18639633128,1.863935e+10,688126.0,10030,135 STBC
43,24,14 ST,123FLM,136127995794,1.361266e+11,2160903.0,10011,14 ST123FLM
70,25,14 ST,ACEL,194999480548,1.949981e+11,1762991.0,10011,14 STACEL
87,26,14 ST,FLM123,5106356915,5.104833e+09,1524093.0,10011,14 STFLM123
210,29,145 ST,1,74091606691,7.409084e+10,768998.0,10031,145 ST1
406,30,145 ST,3,1333200594,1.332932e+09,268241.0,10031,145 ST3
55,31,145 ST,ABCD,10532589724,1.053063e+10,1962699.0,10031,145 STABCD
392,35,155 ST,BD,2015951261,2.015654e+09,297557.0,10018,155 STBD
425,36,155 ST,C,1479960900,1.479730e+09,230640.0,10018,155 STC
172,37,157 ST,1,2142497183,2.164072e+09,979689.0,10018,157 ST1
83,43,168 ST,AC1,6709367361,6.707825e+09,1542391.0,10032,168 STAC1
153,49,175 ST,A,34243062582,3.424197e+10,1090499.0,10033,175 STA
187,54,18 ST,1,10632003265,1.052907e+10,898260.0,10018,18 ST1
185,55,181 ST,1,3345058744,3.344148e+09,910775.0,10033,181 ST1
195,56,181 ST,A,5799926889,5.799092e+09,835169.0,10033,181 STA
337,59,190 ST,A,130850434643,1.308503e+11,410733.0,10040,190 STA
247,60,191 ST,1,585232902,5.846199e+08,613023.0,10040,191 ST1
101,61,2 AV,F,12302761442,1.230134e+10,1419402.0,10002,2 AVF
245,64,207 ST,1,14395618037,1.439524e+10,626818.0,10034,207 ST1
453,67,215 ST,1,703569282,7.034153e+08,153939.0,10018,215 ST1
132,70,23 ST,1,2477874323,2.476675e+09,1199243.0,10011,23 ST1
29,71,23 ST,6,185196432085,1.851945e+11,2609567.0,10011,23 ST6
60,72,23 ST,CE,20008254244,2.017913e+10,1872824.0,10011,23 STCE
33,73,23 ST,FM,279742828485,2.797408e+11,2427484.0,10011,23 STFM
47,74,23 ST,NRW,14019555925,1.401814e+10,2084625.0,10011,23 STNRW
138,80,28 ST,1,3986075205,3.988691e+09,1166734.0,10001,28 ST1
84,81,28 ST,6,109394734651,1.093932e+11,1541166.0,10001,28 ST6
173,82,28 ST,NRW,3184504629,3.183527e+09,977342.0,10001,28 STNRW
331,83,3 AV,L,2334083753,2.333667e+09,416449.0,10003,3 AVL
40,87,33 ST,6,138942743023,1.389408e+11,2200001.0,10018,33 ST6
69,107,49 ST,NQRW,7627305602,7.631712e+09,1763647.0,10019,49 STNQRW
58,109,5 AV/53 ST,EM,9509816879,9.507901e+09,1916368.0,10022,5 AV/53 STEM
122,110,5 AV/59 ST,NQRW,12876331822,1.287509e+10,1246608.0,10065,5 AV/59 STNQRW
50,112,50 ST,1,7985770577,7.983719e+09,2051982.0,10019,50 ST1
67,113,50 ST,CE,36401474806,3.639970e+10,1776465.0,10019,50 STCE
414,114,50 ST,D,1145424833,1.145171e+09,253611.0,10019,50 STD
35,115,51 ST,6,54480116595,5.390995e+10,2406917.0,10022,51 ST6
118,119,57 ST,F,3193484310,3.192195e+09,1289111.0,10019,57 STF
18,121,59 ST,456NQRW,151409177842,1.521094e+11,3328368.0,10022,59 ST456NQRW
168,122,59 ST,NQR456W,5107399859,5.106407e+09,993052.0,10022,59 STNQR456W
180,123,59 ST,NRW,1350710638,1.349770e+09,940981.0,10022,59 STNRW
334,126,6 AV,FLM123,110323108488,1.103231e+11,413003.0,10011,6 AVFLM123
105,134,7 AV,BDE,3536868087,3.535480e+09,1388532.0,10019,7 AVBDE
211,135,7 AV,BQ,3276278976,3.275511e+09,767980.0,10019,7 AVBQ
174,136,7 AV,FG,1009319150,1.008353e+09,966045.0,10019,7 AVFG
15,138,72 ST,123,68243510585,6.824090e+10,3607329.0,10021,72 ST123
212,139,72 ST,BC,2129268409,2.128504e+09,764861.0,10021,72 STBC
51,144,77 ST,6,23524582686,2.352254e+10,2041600.0,10075,77 ST6
320,145,77 ST,R,2851118750,2.850682e+09,436998.0,10075,77 STR
133,146,79 ST,1,3500880266,3.499691e+09,1189727.0,10024,79 ST1
285,147,79 ST,D,8894991735,8.894487e+09,504773.0,10024,79 STD
61,148,8 AV,ACEL,12188020316,1.218616e+10,1858692.0,10011,8 AVACEL
167,149,8 AV,N,1735610308,1.734605e+09,1005285.0,10011,8 AVN
100,155,86 ST,1,6078539422,6.077118e+09,1421727.0,10028,86 ST1
16,156,86 ST,456,119545892760,1.195424e+11,3518649.0,10028,86 ST456
188,157,86 ST,BC,2437442751,2.436545e+09,897309.0,10028,86 STBC
438,158,86 ST,N,451371746,4.511787e+08,193073.0,10028,86 STN
186,159,86 ST,R,14635479086,1.463457e+10,906553.0,10028,86 STR
22,164,96 ST,123,14946269851,1.494333e+10,2944699.0,10029,96 ST123
108,165,96 ST,6,66002402621,6.600103e+10,1370791.0,10029,96 ST6
207,166,96 ST,BC,2759062077,2.758266e+09,795770.0,10029,96 STBC
106,173,ASTOR PL,6,2572775464,2.588696e+09,1377358.0,10003,ASTOR PL6
107,212,BLEECKER ST,6DF,3205396132,3.204212e+09,1376082.0,10012,BLEECKER ST6DF
353,216,BOWERY,JZ,1541058079,1.540687e+09,370739.0,10002,BOWERYJZ
26,217,BOWLING GREEN,45,213266588540,2.132639e+11,2729008.0,10004,BOWLING GREEN45
251,221,BROAD ST,JZ,1645466543,1.644865e+09,601604.0,10005,BROAD STJZ
151,232,CANAL ST,1,1214606976,1.214674e+09,1094968.0,10013,CANAL ST1
76,233,CANAL ST,ACE,86865726382,8.686407e+10,1661289.0,10013,CANAL STACE
14,234,CANAL ST,JNQRZ6W,275657025992,2.756537e+11,3935409.0,10013,CANAL STJNQRZ6W
169,238,CATHEDRAL PKWY,1,1846625682,1.845633e+09,992295.0,10022,CATHEDRAL PKWY1
241,239,CATHEDRAL PKWY,BC,8351240895,8.350603e+09,637558.0,10022,CATHEDRAL PKWYBC
80,242,CHAMBERS ST,123,197052584022,1.970545e+11,1620885.0,10013,CHAMBERS ST123
41,243,CHAMBERS ST,ACE23,175021325858,1.750219e+11,2183193.0,10013,CHAMBERS STACE23
73,244,CHAMBERS ST,JZ456,7543322459,7.547938e+09,1751258.0,10013,CHAMBERS STJZ456
322,251,CITY HALL,NRW,30123305561,3.012287e+10,435450.0,10013,CITY HALLNRW
85,259,CORTLANDT ST,RNW,235573642819,2.355721e+11,1540896.0,10006,CORTLANDT STRNW
268,271,DYCKMAN ST,1,731569566,7.310200e+08,549554.0,10034,DYCKMAN ST1
261,272,DYCKMAN ST,A,2894751485,2.894181e+09,570081.0,10034,DYCKMAN STA
150,277,EAST BROADWAY,F,13818349792,1.381725e+10,1103432.0,10002,EAST BROADWAYF
317,295,FRANKLIN ST,1,2540884517,2.540442e+09,442509.0,10018,FRANKLIN ST1
8,301,FULTON ST,2345ACJZ,141641492745,1.416370e+11,5303970.0,10038,FULTON ST2345ACJZ
37,302,FULTON ST,ACJZ2345,285343602498,2.853413e+11,2316426.0,10038,FULTON STACJZ2345
287,303,FULTON ST,G,1809377642,1.808876e+09,501853.0,10038,FULTON STG
36,307,GRAND ST,BD,27226794534,2.722508e+10,2406560.0,10017,GRAND STBD
301,308,GRAND ST,L,1789791275,1.789313e+09,478078.0,10017,GRAND STL
142,322,HOUSTON ST,1,3372533374,3.376173e+09,1137830.0,10014,HOUSTON ST1
158,411,PRINCE ST,NRW,6602786729,6.601721e+09,1065981.0,10012,PRINCE STNRW
219,418,RECTOR ST,1,1469950155,1.440263e+09,731973.0,10018,RECTOR ST1
283,419,RECTOR ST,NRW,13141018517,1.314051e+10,510752.0,10018,RECTOR STNRW
38,433,SOUTH FERRY,1RW,14431932861,1.442424e+10,2229630.0,10004,SOUTH FERRY1RW
184,434,SPRING ST,6,3220184760,3.224654e+09,922902.0,10012,SPRING ST6
143,435,SPRING ST,CE,32783498625,3.278237e+10,1129678.0,10012,SPRING STCE
72,462,WALL ST,23,10504197476,1.050245e+10,1751322.0,10038,WALL ST23
63,463,WALL ST,45,42717492240,4.271651e+10,1849328.0,10038,WALL ST45

In [75]:
stations_elev.STATION = stations_elev.STATION.str.upper()

In [57]:
stations_elev["STATIONLINE"] = stations_elev.STATION+stations_elev.LINENAME

In [81]:
stations_elev.sort_values("STATIONLINE")

,STATION,LINENAME,Elevator,STATIONLINE
0,1 AV,L,0,1 AVL
2,103 ST,1,0,103 ST1
3,103 ST,6,0,103 ST6
1,103 ST,BC,0,103 STBC
4,110 ST,6,0,110 ST6
8,116 ST - COLUMBIA UNIVERSITY,1,0,116 ST - COLUMBIA UNIVERSITY1
7,116 ST,23,0,116 ST23
6,116 ST,6,0,116 ST6
5,116 ST,BC,0,116 STBC
11,125 ST,1,0,125 ST1
12,125 ST,23,0,125 ST23
9,125 ST,4/5/2006,1,125 ST4/5/2006
10,125 ST,A/C/B/D,1,125 STA/C/B/D
13,135 ST,3,1,135 ST3
14,135 ST,BC,0,135 STBC
15,137 ST - CITY COLLEGE,1,0,137 ST - CITY COLLEGE1
18,14 ST - UNION SQ,456,0,14 ST - UNION SQ456
19,14 ST-UNION SQ,L/N/Q/R/W,1,14 ST-UNION SQL/N/Q/R/W
20,14 ST/8 AV,A/C/E/L,1,14 ST/8 AVA/C/E/L
17,14 ST,123,0,14 ST123
16,14 ST,FM,0,14 STFM
23,145 ST,1,0,145 ST1
24,145 ST,3,0,145 ST3
21,145 ST,AC,0,145 STAC
22,145 ST,BD,0,145 STBD
26,155 ST,BD,0,155 STBD
25,155 ST,C,0,155 STC
27,157 ST,1,0,157 ST1
28,163 ST - AMSTERDAM AV,C,0,163 ST - AMSTERDAM AVC
30,168 ST - WASHINGTON HTS,1,0,168 ST - WASHINGTON HTS1
29,168 ST,A/C only 1 is not accessible,1,168 STA/C only 1 is not accessible
31,175 ST,A,1,175 STA
32,18 ST,1,0,18 ST1
34,181 ST,1,0,181 ST1
33,181 ST,A,0,181 STA
35,190 ST,A,0,190 STA
36,191 ST,1,0,191 ST1
37,2 AV,F,0,2 AVF
38,207 ST,1,0,207 ST1
39,215 ST,1,0,215 ST1
44,23 ST,1,0,23 ST1
40,23 ST,6,1,23 ST6
42,23 ST,CE,0,23 STCE
43,23 ST,FM,0,23 STFM
41,23 ST,RW,0,23 STRW
47,28 ST,1,0,28 ST1
45,28 ST,6 downtown only,1,28 ST6 downtown only
46,28 ST,RW,0,28 STRW
48,3 AV,L,0,3 AVL
49,33 ST,6,0,33 ST6
50,34 ST - 11 AV,7,0,34 ST - 11 AV7
51,34 ST - HERALD SQ,BDFM,0,34 ST - HERALD SQBDFM
52,34 ST - PENN STATION,123,0,34 ST - PENN STATION123
53,34 ST-HERALD SQ,B/D/F/M/N/Q/R/W,1,34 ST-HERALD SQB/D/F/M/N/Q/R/W
54,34 ST-HUDSON YARDS,7,1,34 ST-HUDSON YARDS7
55,34 ST-PENN STATION,1/2/3/A/C/E,1,34 ST-PENN STATION1/2/3/A/C/E
56,42 ST - BRYANT PK,BDFM,0,42 ST - BRYANT PKBDFM
57,42 ST-PORT AUTHORITY BUS TERMINAL,A/C/E,1,42 ST-PORT AUTHORITY BUS TERMINALA/C/E
58,47-50 STS-ROCKEFELLER CTR,B/D/F/M,1,47-50 STS-ROCKEFELLER CTRB/D/F/M
59,49 ST,N/R/W uptown only,1,49 STN/R/W uptown only
61,5 AV/53 ST,EM,0,5 AV/53 STEM
62,5 AV/59 ST,NWR,0,5 AV/59 STNWR
60,5 AV,7,0,5 AV7
64,50 ST,1,0,50 ST1
63,50 ST,C/E downtown only,1,50 STC/E downtown only
65,51 ST,6,1,51 ST6
67,57 ST - 7 AV,NQRW,0,57 ST - 7 AVNQRW
66,57 ST,F,0,57 STF
69,59 ST - COLUMBUS CIRCLE,1,0,59 ST - COLUMBUS CIRCLE1
70,59 ST-COLUMBUS CIRCLE,A/C/B/D/1,1,59 ST-COLUMBUS CIRCLEA/C/B/D/1
68,59 ST,456,0,59 ST456
71,6 AV,L,0,6 AVL
72,66 ST-LINCOLN CENTER,1,1,66 ST-LINCOLN CENTER1
73,68 ST - HUNTER COLLEGE,6,0,68 ST - HUNTER COLLEGE6
74,7 AV,BDE,0,7 AVBDE
75,72 ST,1/2/2003,1,72 ST1/2/2003
77,72 ST,BC,0,72 STBC
76,72 ST,Q,1,72 STQ
78,77 ST,6,0,77 ST6
79,79 ST,1,0,79 ST1
80,8 AV,L,0,8 AVL
81,8 ST - NYU,RW,0,8 ST - NYURW
82,81 ST - MUSEUM OF NATURAL HISTORY,BC,0,81 ST - MUSEUM OF NATURAL HISTORYBC
86,86 ST,1,0,86 ST1
83,86 ST,6 uptown only,1,86 ST6 uptown only
85,86 ST,BC,0,86 STBC
84,86 ST,Q,1,86 STQ
87,96 ST,1/2/2003,1,96 ST1/2/2003
90,96 ST,6,0,96 ST6
89,96 ST,BC,0,96 STBC
88,96 ST,Q,1,96 STQ
91,ASTOR PL,6,0,ASTOR PL6
92,BLEECKER ST,6,1,BLEECKER ST6
93,BOWERY,JZ,0,BOWERYJZ
94,BOWLING GREEN,5,1,BOWLING GREEN5
95,BROAD ST,JZ,0,BROAD STJZ
96,BROADWAY-LAFAYETTE,B/D/F/M,1,BROADWAY-LAFAYETTEB/D/F/M
97,BROOKLYN BRIDGE-CITY HALL,4/5/2006,1,BROOKLYN BRIDGE-CITY HALL4/5/2006
103,CANAL ST,1,0,CANAL ST1
98,CANAL ST,6 only J/N/Q/R/W/Z are not accessible,1,CANAL ST6 only J/N/Q/R/W/Z are not accessible
102,CANAL ST,ACE,0,CANAL STACE
101,CANAL ST,JZ,0,CANAL STJZ
100,CANAL ST,NQ,0,CANAL STNQ
99,CANAL ST,RW,0,CANAL STRW
105,CATHEDRAL PKWY (110 ST),BC,0,CATHEDRAL PKWY (110 ST)BC
104,CATHEDRAL PKWY,1,0,CATHEDRAL PKWY1
106,CENTRAL PARK NORTH (110 ST),23,0,CENTRAL PARK NORTH (110 ST)23
107,CHAMBERS ST,1/2/2003,1,CHAMBERS ST1/2/2003
109,CHAMBERS ST,AC,0,CHAMBERS STAC
108,CHAMBERS ST,JZ,0,CHAMBERS STJZ
110,CHRISTOPHER ST - SHERIDAN SQ,1,0,CHRISTOPHER ST - SHERIDAN SQ1
111,CITY HALL,RW,0,CITY HALLRW
112,CORTLANDT ST,R/W,1,CORTLANDT STR/W
113,DELANCEY ST,F,0,DELANCEY STF
114,DYCKMAN ST,1 downtown only,1,DYCKMAN ST1 downtown only
115,DYCKMAN ST,A,0,DYCKMAN STA
116,EAST BROADWAY,F,0,EAST BROADWAYF
117,ESSEX ST,JMZ,0,ESSEX STJMZ
118,FRANKLIN ST,1,0,FRANKLIN ST1
121,FULTON ST,23,0,FULTON ST23
122,FULTON ST,45,0,FULTON ST45
119,FULTON ST,A/C/J/Z/2/3/4/5,1,FULTON STA/C/J/Z/2/3/4/5
120,FULTON ST,AC,0,FULTON STAC
123,GRAND CENTRAL - 42 ST,456,0,GRAND CENTRAL - 42 ST456
124,GRAND CENTRAL - 42 ST,7,0,GRAND CENTRAL - 42 ST7
125,GRAND CENTRAL - 42 ST,S,0,GRAND CENTRAL - 42 STS
126,GRAND CENTRAL-42 ST,4/5/6/7 only S is not accessible,1,GRAND CENTRAL-42 ST4/5/6/7 only S is not acces...
127,GRAND ST,BD,0,GRAND STBD
128,HARLEM - 148 ST,3,0,HARLEM - 148 ST3
129,HOUSTON ST,1,0,HOUSTON ST1
130,INWOOD-207 ST,A,1,INWOOD-207 STA
131,LEXINGTON AV/53 ST,E/M,1,LEXINGTON AV/53 STE/M
132,LEXINGTON AV/59 ST,NWR,0,LEXINGTON AV/59 STNWR
133,LEXINGTON AV/63 ST,F/Q,1,LEXINGTON AV/63 STF/Q
134,MARBLE HILL - 225 ST,1,0,MARBLE HILL - 225 ST1
135,PARK PL,23,0,PARK PL23
136,PRINCE ST,RW,0,PRINCE STRW
138,RECTOR ST,1,0,RECTOR ST1
137,RECTOR ST,RW,0,RECTOR STRW
139,ROOSEVELT ISLAND,F,1,ROOSEVELT ISLANDF
140,SOUTH FERRY,1,1,SOUTH FERRY1
142,SPRING ST,6,0,SPRING ST6
141,SPRING ST,CE,0,SPRING STCE
144,TIMES SQ - 42 ST,123,0,TIMES SQ - 42 ST123
145,TIMES SQ - 42 ST,7,0,TIMES SQ - 42 ST7
143,TIMES SQ - 42 ST,NQRW,0,TIMES SQ - 42 STNQRW
146,TIMES SQ - 42 ST,S,0,TIMES SQ - 42 STS
147,TIMES SQUARE-42 ST,N/Q/R/W/1/2/3/7 only S is not accessible,1,TIMES SQUARE-42 STN/Q/R/W/1/2/3/7 only S is no...
148,UNION SQ - 14 ST,L,0,UNION SQ - 14 STL
149,WALL ST,23,0,WALL ST23
150,WALL ST,45,0,WALL ST45
151,WEST 4 ST-WASHINGTON SQ,A/C/E/B/D/F/M,1,WEST 4 ST-WASHINGTON SQA/C/E/B/D/F/M
152,WHITEHALL ST,RW,0,WHITEHALL STRW
153,WORLD TRADE CENTER,E,1,WORLD TRADE CENTERE
154,WTC CORTLANDT,1,1,WTC CORTLANDT1

In [51]:
elev_dict  = pd.Series(stations_elev.Elevator.values,index=[stations_elev.STATIONLINE]).to_dict()

In [52]:
elev_dict

{('1 AVL',): 0,
 ('103 STBC',): 0,
 ('103 ST1',): 0,
 ('103 ST6',): 0,
 ('110 ST6',): 0,
 ('116 STBC',): 0,
 ('116 ST6',): 0,
 ('116 ST23',): 0,
 ('116 ST - COLUMBIA UNIVERSITY1',): 0,
 ('125 ST4/5/2006',): 1,
 ('125 STA/C/B/D',): 1,
 ('125 ST1',): 0,
 ('125 ST23',): 0,
 ('135 ST3',): 1,
 ('135 STBC',): 0,
 ('137 ST - CITY COLLEGE1',): 0,
 ('14 STFM',): 0,
 ('14 ST123',): 0,
 ('14 ST - UNION SQ456',): 0,
 ('14 ST-UNION SQL/N/Q/R/W',): 1,
 ('14 ST/8 AVA/C/E/L',): 1,
 ('145 STAC',): 0,
 ('145 STBD',): 0,
 ('145 ST1',): 0,
 ('145 ST3',): 0,
 ('155 STC',): 0,
 ('155 STBD',): 0,
 ('157 ST1',): 0,
 ('163 ST - AMSTERDAM AVC',): 0,
 ('168 STA/C only  1 is not accessible',): 1,
 ('168 ST - WASHINGTON HTS1',): 0,
 ('175 STA',): 1,
 ('18 ST1',): 0,
 ('181 STA',): 0,
 ('181 ST1',): 0,
 ('190 STA',): 0,
 ('191 ST1',): 0,
 ('2 AVF',): 0,
 ('207 ST1',): 0,
 ('215 ST1',): 0,
 ('23 ST6',): 1,
 ('23 STRW',): 0,
 ('23 STCE',): 0,
 ('23 STFM',): 0,
 ('23 ST1',): 0,
 ('28 ST6 downtown only',): 1,
 ('28 STRW',): 0,
 ('28 ST1',): 0,
 ('3 AVL',): 0,
 ('33 ST6',): 0,
 ('34 ST - 11 AV7',): 0,
 ('34 ST - HERALD SQBDFM',): 0,
 ('34 ST - PENN STATION123',): 0,
 ('34 ST-HERALD SQB/D/F/M/N/Q/R/W',): 1,
 ('34 ST-HUDSON YARDS7',): 1,
 ('34 ST-PENN STATION1/2/3/A/C/E',): 1,
 ('42 ST - BRYANT PKBDFM',): 0,
 ('42 ST-PORT AUTHORITY BUS TERMINALA/C/E',): 1,
 ('47-50 STS-ROCKEFELLER CTRB/D/F/M',): 1,
 ('49 STN/R/W uptown only',): 1,
 ('5 AV7',): 0,
 ('5 AV/53 STEM',): 0,
 ('5 AV/59 STNWR',): 0,
 ('50 STC/E downtown only',): 1,
 ('50 ST1',): 0,
 ('51 ST6',): 1,
 ('57 STF',): 0,
 ('57 ST - 7 AVNQRW',): 0,
 ('59 ST456',): 0,
 ('59 ST - COLUMBUS CIRCLE1',): 0,
 ('59 ST-COLUMBUS CIRCLEA/C/B/D/1',): 1,
 ('6 AVL',): 0,
 ('66 ST-LINCOLN CENTER1',): 1,
 ('68 ST - HUNTER COLLEGE6',): 0,
 ('7 AVBDE',): 0,
 ('72 ST1/2/2003',): 1,
 ('72 STQ',): 1,
 ('72 STBC',): 0,
 ('77 ST6',): 0,
 ('79 ST1',): 0,
 ('8 AVL',): 0,
 ('8 ST - NYURW',): 0,
 ('81 ST - MUSEUM OF NATURAL HISTORYBC',): 0,
 ('86 ST6 uptown only',): 1,
 ('86 STQ',): 1,
 ('86 STBC',): 0,
 ('86 ST1',): 0,
 ('96 ST1/2/2003',): 1,
 ('96 STQ',): 1,
 ('96 STBC',): 0,
 ('96 ST6',): 0,
 ('ASTOR PL6',): 0,
 ('BLEECKER ST6',): 1,
 ('BOWERYJZ',): 0,
 ('BOWLING GREEN5',): 1,
 ('BROAD STJZ',): 0,
 ('BROADWAY-LAFAYETTEB/D/F/M',): 1,
 ('BROOKLYN BRIDGE-CITY HALL4/5/2006',): 1,
 ('CANAL ST6 only  J/N/Q/R/W/Z are not accessible',): 1,
 ('CANAL STRW',): 0,
 ('CANAL STNQ',): 0,
 ('CANAL STJZ',): 0,
 ('CANAL STACE',): 0,
 ('CANAL ST1',): 0,
 ('CATHEDRAL PKWY1',): 0,
 ('CATHEDRAL PKWY (110 ST)BC',): 0,
 ('CENTRAL PARK NORTH (110 ST)23',): 0,
 ('CHAMBERS ST1/2/2003',): 1,
 ('CHAMBERS STJZ',): 0,
 ('CHAMBERS STAC',): 0,
 ('CHRISTOPHER ST - SHERIDAN SQ1',): 0,
 ('CITY HALLRW',): 0,
 ('CORTLANDT STR/W',): 1,
 ('DELANCEY STF',): 0,
 ('DYCKMAN ST1 downtown only',): 1,
 ('DYCKMAN STA',): 0,
 ('EAST BROADWAYF',): 0,
 ('ESSEX STJMZ',): 0,
 ('FRANKLIN ST1',): 0,
 ('FULTON STA/C/J/Z/2/3/4/5',): 1,
 ('FULTON STAC',): 0,
 ('FULTON ST23',): 0,
 ('FULTON ST45',): 0,
 ('GRAND CENTRAL - 42 ST456',): 0,
 ('GRAND CENTRAL - 42 ST7',): 0,
 ('GRAND CENTRAL - 42 STS',): 0,
 ('GRAND CENTRAL-42 ST4/5/6/7 only S is not accessible',): 1,
 ('GRAND STBD',): 0,
 ('HARLEM - 148 ST3',): 0,
 ('HOUSTON ST1',): 0,
 ('INWOOD-207 STA',): 1,
 ('LEXINGTON AV/53 STE/M',): 1,
 ('LEXINGTON AV/59 STNWR',): 0,
 ('LEXINGTON AV/63 STF/Q',): 1,
 ('MARBLE HILL - 225 ST1',): 0,
 ('PARK PL23',): 0,
 ('PRINCE STRW',): 0,
 ('RECTOR STRW',): 0,
 ('RECTOR ST1',): 0,
 ('ROOSEVELT ISLANDF',): 1,
 ('SOUTH FERRY1',): 1,
 ('SPRING STCE',): 0,
 ('SPRING ST6',): 0,
 ('TIMES SQ - 42 STNQRW',): 0,
 ('TIMES SQ - 42 ST123',): 0,
 ('TIMES SQ - 42 ST7',): 0,
 ('TIMES SQ - 42 STS',): 0,
 ('TIMES SQUARE-42 STN/Q/R/W/1/2/3/7 only S is not accessible',): 1,
 ('UNION SQ - 14 STL',): 0,
 ('WALL ST23',): 0,
 ('WALL ST45',): 0,
 ('WEST 4 ST-WASHINGTON SQA/C/E/B/D/F/M',): 1,
 ('WHITEHALL STRW',): 0,
 ('WORLD TRADE CENTERE',): 1,
 ('WTC CORTLANDT1',): 1}

In [53]:
manh_stations_total["Elev"] = manh_stations_total["STATIONLINE"].map(elev_dict)

C:\Users\tskth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
manh_stations_total

,index,STATION,LINENAME,ENTRIES,PREV_ENTRIES,DAILY_ENTRIES,ZipCode,STATIONLINE,Elev
8,301,FULTON ST,2345ACJZ,141641492745,1.416370e+11,5303970.0,10038,FULTON ST2345ACJZ,NaN
14,234,CANAL ST,JNQRZ6W,275657025992,2.756537e+11,3935409.0,10013,CANAL STJNQRZ6W,NaN
15,138,72 ST,123,68243510585,6.824090e+10,3607329.0,10021,72 ST123,NaN
16,156,86 ST,456,119545892760,1.195424e+11,3518649.0,10028,86 ST456,NaN
18,121,59 ST,456NQRW,151409177842,1.521094e+11,3328368.0,11234,59 ST456NQRW,NaN
...,...,...,...,...,...,...,...,...,...
406,30,145 ST,3,1333200594,1.332932e+09,268241.0,10031,145 ST3,NaN
414,114,50 ST,D,1145424833,1.145171e+09,253611.0,10019,50 STD,NaN
425,36,155 ST,C,1479960900,1.479730e+09,230640.0,10018,155 STC,NaN
438,158,86 ST,N,451371746,4.511787e+08,193073.0,10028,86 STN,NaN
453,67,215 ST,1,703569282,7.034153e+08,153939.0,10018,215 ST1,NaN

In [47]:
manh_stations_total

,index,STATION,LINENAME,ENTRIES,PREV_ENTRIES,DAILY_ENTRIES,ZipCode,Elev
8,301,FULTON ST,2345ACJZ,141641492745,1.416370e+11,5303970.0,10038,1.0
14,234,CANAL ST,JNQRZ6W,275657025992,2.756537e+11,3935409.0,10013,1.0
15,138,72 ST,123,68243510585,6.824090e+10,3607329.0,10021,1.0
16,156,86 ST,456,119545892760,1.195424e+11,3518649.0,10028,1.0
18,121,59 ST,456NQRW,151409177842,1.521094e+11,3328368.0,11234,NaN
...,...,...,...,...,...,...,...,...
406,30,145 ST,3,1333200594,1.332932e+09,268241.0,10031,NaN
414,114,50 ST,D,1145424833,1.145171e+09,253611.0,10019,1.0
425,36,155 ST,C,1479960900,1.479730e+09,230640.0,10018,NaN
438,158,86 ST,N,451371746,4.511787e+08,193073.0,10028,1.0
453,67,215 ST,1,703569282,7.034153e+08,153939.0,10018,NaN

In [ ]:
#Map disability and age #s

In [48]:
age_disability = pd.read_csv("zip_code_age_disability_df.csv")

In [49]:
age_disability

    ZipCode     aged  disabled
0     10001   5297.0    3475.0
1     10002  23825.0   24260.0
2     10003  11020.0    5624.0
3     10004    540.0     169.0
4     10005    669.0     154.0
5     10006    377.0       0.0
6     10007   1231.0     170.0
7     10009  13667.0   13695.0
8     10010   7523.0    4206.0
9     10011  13260.0    7709.0
10    10012   5252.0    2307.0
11    10013   8071.0    5060.0
12    10014   7678.0    2914.0
13    10016  11458.0    6420.0
14    10017   4720.0    1938.0
15    10018   1339.0     921.0
16    10019  10479.0    7301.0
17    10020      NaN       NaN
18    10021  15250.0    5634.0
19    10022  12087.0    4602.0
20    10023  21116.0    9738.0
21    10024  19019.0    8657.0
22    10025  28931.0   17545.0
23    10026   8506.0    8112.0
24    10027  12631.0   11386.0
25    10028  13422.0    4568.0
26    10029  18966.0   24241.0
27    10030   7110.0    9215.0
28    10031  13199.0   12668.0
29    10032  14424.0   18119.0
30    10033  14882.0   15222.0
31    10034  10983.0    9624.0
32    10035   8515.0   10825.0
33    10036   5890.0    4501.0
34    10037   6089.0    3981.0
35    10038   6151.0    4893.0
36    10039   6223.0    6169.0
37    10040  12010.0    9692.0
38    10044   3531.0    1470.0
39    10065   9214.0    2845.0
40    10075   7999.0    2893.0
41    10128      NaN       NaN
42    10280   1944.0     432.0

In [50]:
aged_dict  = pd.Series(age_disability.aged.values,index=age_disability.ZipCode).to_dict()

In [51]:
manh_stations_total["aged"] = manh_stations_total["ZipCode"].map(aged_dict)

C:\Users\tskth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
disabled_dict = pd.Series(age_disability.disabled.values,index=age_disability.ZipCode).to_dict()

In [55]:
manh_stations_total["disabled"] = manh_stations_total["ZipCode"].map(disabled_dict)

C:\Users\tskth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
manh_stations_total["aged_scaled"] = manh_stations_total["aged"]/max(manh_stations_total.aged)

C:\Users\tskth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [57]:
manh_stations_total["disabled_scaled"] = manh_stations_total["disabled"]/max(manh_stations_total.disabled)

C:\Users\tskth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
manh_stations_total["entries_scaled"] = manh_stations_total["DAILY_ENTRIES"]/max(manh_stations_total.DAILY_ENTRIES)

C:\Users\tskth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [59]:
manh_stations_total["Neediness"] = (manh_stations_total.aged_scaled + manh_stations_total.disabled_scaled + manh_stations_total.entries_scaled)/3

C:\Users\tskth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
manh_stations_total

,index,STATION,LINENAME,ENTRIES,PREV_ENTRIES,DAILY_ENTRIES,ZipCode,Elev,aged,disabled,aged_scaled,disabled_scaled,entries_scaled,Neediness
8,301,FULTON ST,2345ACJZ,141641492745,1.416370e+11,5303970.0,10038,1.0,6151.0,4893.0,0.258174,0.201690,1.000000,0.486621
14,234,CANAL ST,JNQRZ6W,275657025992,2.756537e+11,3935409.0,10013,1.0,8071.0,5060.0,0.338762,0.208574,0.741974,0.429770
15,138,72 ST,123,68243510585,6.824090e+10,3607329.0,10021,1.0,15250.0,5634.0,0.640084,0.232234,0.680119,0.517479
16,156,86 ST,456,119545892760,1.195424e+11,3518649.0,10028,1.0,13422.0,4568.0,0.563358,0.188293,0.663399,0.471683
18,121,59 ST,456NQRW,151409177842,1.521094e+11,3328368.0,11234,NaN,NaN,NaN,NaN,NaN,0.627524,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,30,145 ST,3,1333200594,1.332932e+09,268241.0,10031,NaN,13199.0,12668.0,0.553998,0.522176,0.050574,0.375583
414,114,50 ST,D,1145424833,1.145171e+09,253611.0,10019,1.0,10479.0,7301.0,0.439832,0.300948,0.047815,0.262865
425,36,155 ST,C,1479960900,1.479730e+09,230640.0,10018,NaN,1339.0,921.0,0.056201,0.037964,0.043484,0.045883
438,158,86 ST,N,451371746,4.511787e+08,193073.0,10028,1.0,13422.0,4568.0,0.563358,0.188293,0.036402,0.262684
453,67,215 ST,1,703569282,7.034153e+08,153939.0,10018,NaN,1339.0,921.0,0.056201,0.037964,0.029023,0.041063

In [61]:
#Sort by neediest stations

manh_stations_total.sort_values("Neediness", ascending = False)

,index,STATION,LINENAME,ENTRIES,PREV_ENTRIES,DAILY_ENTRIES,ZipCode,Elev,aged,disabled,aged_scaled,disabled_scaled,entries_scaled,Neediness
22,164,96 ST,123,14946269851,1.494333e+10,2944699.0,10029,1.0,18966.0,24241.0,0.796055,0.999217,0.555188,0.783486
150,277,EAST BROADWAY,F,13818349792,1.381725e+10,1103432.0,10002,NaN,23825.0,24260.0,1.000000,1.000000,0.208039,0.736013
353,216,BOWERY,JZ,1541058079,1.540687e+09,370739.0,10002,NaN,23825.0,24260.0,1.000000,1.000000,0.069898,0.689966
108,165,96 ST,6,66002402621,6.600103e+10,1370791.0,10029,1.0,18966.0,24241.0,0.796055,0.999217,0.258446,0.684573
192,7,110 ST,6,3525627318,3.524766e+09,861425.0,10029,NaN,18966.0,24241.0,0.796055,0.999217,0.162411,0.652561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,1,103 ST,1,5901511168,5.900530e+09,981372.0,11368,NaN,NaN,NaN,NaN,NaN,0.185026,NaN
180,123,59 ST,NRW,1350710638,1.349770e+09,940981.0,11234,NaN,NaN,NaN,NaN,NaN,0.177411,NaN
331,83,3 AV,L,2334083753,2.333667e+09,416449.0,11372,NaN,NaN,NaN,NaN,NaN,0.078516,NaN
334,126,6 AV,FLM123,110323108488,1.103231e+11,413003.0,11372,NaN,NaN,NaN,NaN,NaN,0.077867,NaN
347,3,103 ST,BC,2747657700,2.747271e+09,386482.0,11368,NaN,NaN,NaN,NaN,NaN,0.072867,NaN

In [62]:
#Neediest stations that do not already have an elevator:

manh_stations_total[manh_stations_total.Elev != 1].sort_values("Neediness", ascending = False)

,index,STATION,LINENAME,ENTRIES,PREV_ENTRIES,DAILY_ENTRIES,ZipCode,Elev,aged,disabled,aged_scaled,disabled_scaled,entries_scaled,Neediness
150,277,EAST BROADWAY,F,13818349792,1.381725e+10,1103432.0,10002,NaN,23825.0,24260.0,1.000000,1.000000,0.208039,0.736013
353,216,BOWERY,JZ,1541058079,1.540687e+09,370739.0,10002,NaN,23825.0,24260.0,1.000000,1.000000,0.069898,0.689966
192,7,110 ST,6,3525627318,3.524766e+09,861425.0,10029,NaN,18966.0,24241.0,0.796055,0.999217,0.162411,0.652561
55,31,145 ST,ABCD,10532589724,1.053063e+10,1962699.0,10031,NaN,13199.0,12668.0,0.553998,0.522176,0.370043,0.482073
185,55,181 ST,1,3345058744,3.344148e+09,910775.0,10033,NaN,14882.0,15222.0,0.624638,0.627453,0.171716,0.474602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,1,103 ST,1,5901511168,5.900530e+09,981372.0,11368,NaN,NaN,NaN,NaN,NaN,0.185026,NaN
180,123,59 ST,NRW,1350710638,1.349770e+09,940981.0,11234,NaN,NaN,NaN,NaN,NaN,0.177411,NaN
331,83,3 AV,L,2334083753,2.333667e+09,416449.0,11372,NaN,NaN,NaN,NaN,NaN,0.078516,NaN
334,126,6 AV,FLM123,110323108488,1.103231e+11,413003.0,11372,NaN,NaN,NaN,NaN,NaN,0.077867,NaN
347,3,103 ST,BC,2747657700,2.747271e+09,386482.0,11368,NaN,NaN,NaN,NaN,NaN,0.072867,NaN